html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* HEADER */

#products-back {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #fff;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    animation-delay: 0.5s;
    animation-duration: 4s;
}

.products-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #43484E;
}

/* NAVIGATION */

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container {
  padding-top: 100px;
}

.navbar {
    border-radius: 0;
}

.navbar .nav.navbar-nav .selected {
    color: #fff;
    background:  #BB0000;
} 

/* MENU */

.products-menu .panel-group .panel-body a {
    color: #43484E;
}
.products-menu .panel-group .panel-body a.selected {
    color:  #BB0000;
}

.panel-default > .panel-heading {
    background-color: #222;
    color: #fff;
    text-transform: uppercase;
}

/* CONTENT */
#content {
    margin-bottom: 100px;
    height: 2000px;
}

/* MAIN */
.products-main > img {
    max-width: 100%;
    margin-top: 10em;
}

/* DETAILS */

.products-main {
    padding: 0;
    padding-top: 30px;
}

.products-menu {
    padding-top: 10px;
}

.products-content {
    padding-top: 10px;
    padding-left: 20px;
}

.products-content > .product-details > .tab-content {
    margin: 30px 10px;
}

.products-content > .product-details > .tab-content > #specification > .specification-title {
    margin-bottom: 20px;
}

.products-content > .product-details > .tab-content > #specification > .specification-description {
    margin-bottom: 0px;
    margin-top: 40px;
}

.products-content > .product-details > .tab-content > #specification > .clear {
    clear: both;
    margin-bottom: 20px;
}

.products-content > .product-details > .tab-content > #specification > .table {
    margin-top: 30px;
}

.products-content > .product-details > .tab-content > #specification > .specification-extra {
    clear: both;
    padding-top: 20px;
    margin-bottom: 50px;
}

.products-content > .product-details > .tab-content > #specification > .specification-description > img {
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
    max-width: 300px;
}

.products-content > .product-details > .tab-content > #gallery .img-exaple {
    padding-top: 20px;
    padding-bottom: 20px;
}

.products-content > .product-details > .tab-content > #gallery .img-exaple > img {
    border: 1px solid grey;
    padding: 4px;
    display: block;
    margin: 0 auto;
    max-width: 380px;
}

p.product-link {
    font-style: italic;
}

.table > tbody > tr > td.product-param-value {
    text-align: center;
}

.table > thead > tr > th.product-param-value-title {
    text-align: center;
}

/* PRODUCER */

.producer-item {
    padding: 50px;
}

.producer-item > img {
    max-width: 100%;
}

/* CARD */

.thumbnail > hr {
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail > img {
    max-height: 240px;
    min-height: 240px;
    overflow: hidden;
}

.thumbnail > .caption {
    color: #fff;
    background-color: #222;
}
.thumbnail > .caption > p.buttons {
    text-align: right;
}
.thumbnail > .caption > p.buttons > .btn-primary {
    background-color: #BB0000;
    border-color: #BB0000;
}