html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #43484E;
}

p {
    color: #43484E;
    font-size: 16px;
    font-weight: 300;
}

.fill {
    height: 100%;
}

/* HEADER */

#products-back {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #fff;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    animation-delay: 0.5s;
    animation-duration: 4s;
    z-index: 99999;
}

.products-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-color: #43484E;
}

.products-header h2,
.products-header h4 {
    color: #fff;
}

/* NAVIGATION */

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container {
  padding-top: 100px;
}

.navbar {
    border-radius: 0;
}

.navbar .nav.navbar-nav .selected {
    color: #fff;
    background:  #BB0000;
}

/* MAIN */
#main {
/*    background-image: url(/img/bg.jpg);*/
}

/* MENU */

.products-menu .panel-group .panel-body a {
    color: #000;
}
.products-menu .panel-group .panel-body a.selected {
    color:  #BB0000;
}

.panel-default > .panel-heading {
    background-color: #43484E;
    color: #fff;
    text-transform: uppercase;
}

/* CONTENT */
#content {
    margin-bottom: 30px;
    min-height: 1500px;
}

/* MAIN */
.products-main > img {
    max-width: 100%;
    margin-top: 10em;
}

/* DETAILS */

.products-main {
    padding: 0;
    padding-top: 30px;
}

.products-menu {
    padding-top: 10px;
}

.products-content {
    padding-top: 10px;
    padding-left: 20px;
}

.products-content > .product-details > .tab-content {
    margin: 30px 10px;
}

.products-content > .product-details > .tab-content > #specification > .specification-title {
    margin-bottom: 20px;
}

.products-content > .product-details > .tab-content > #specification > .specification-description {
    margin-bottom: 0px;
    margin-top: 40px;
}

.products-content > .product-details > .tab-content > #specification > .specification-description > p {
    text-align: justify;
}

.products-content > .product-details > .tab-content > #specification > .clear {
    clear: both;
    margin-bottom: 20px;
}

.well.well-sm > p {
    font-size: 14px;
}

.products-content > .product-details > .tab-content > #specification > .table {
    margin-top: 30px;
}

.products-content > .product-details > .tab-content > #specification > .specification-extra {
    clear: both;
    padding-top: 20px;
    margin-bottom: 50px;
}

.products-content > .product-details > .tab-content > #specification > .specification-description > img {
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
    max-width: 300px;
}

.products-content > .product-details > .tab-content > #gallery .img-exaple {
    padding-top: 20px;
    padding-bottom: 20px;
}

.products-content > .product-details > .tab-content > #gallery .img-exaple > img {
    border: 1px solid grey;
    padding: 4px;
    display: block;
    margin: 0 auto;
    max-width: 380px;
    min-width: 380px;
}

p.product-link {
    font-style: italic;
}

.table > tbody > tr > td.product-param-value {
    text-align: center;
}

.table > thead > tr > th.product-param-value-title {
    text-align: center;
}

/* PRODUCER */

.producer-item {
    padding: 50px;
}

.producer-item > img {
    max-width: 100%;
}

/* CARD */

.thumbnail > hr {
    margin-top: 0;
    margin-bottom: 0;
}
.thumbnail > img {
    max-height: 240px;
    min-height: 240px;
    overflow: hidden;
}

.thumbnail > .caption {
    color: #fff;
    background-color: #43484E;
}

.thumbnail > .caption > h3, .thumbnail > .caption > p {
    color: #fff;
}

.thumbnail > .caption > p.buttons {
    text-align: right;
}
.thumbnail > .caption > p.buttons > .btn-primary {
    background-color: #BB0000;
    border-color: #BB0000;
}

/* CONTACT */

footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.1);
}

#contact-left h3, #contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

address {
    color: #fff;
}

address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

/* Footer */
#footer-bottom {
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0;
}

#footer-copyrights p {
    text-align: center;
    margin: 0;
    color: #fff;
}

#contact-map {
    height: 323px;
}

#map {
    height: 100%;
}